/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require font-awesome.min
 *= require materialadmin
 *= require gritter
 */

 .container {
 	padding-top: 60px;
 }
 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.sidebar {
  background-color: #2b2e33;
  left: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 240px;
  z-index: 100;
}

.sidebar-condensed:not(.sidebar-collapsed) .sidebar .sidebar-top {
    margin-bottom: 0px;
    text-align: center;
}
.sidebar .sidebar-inner .sidebar-top.big-img {
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: center;
}
.sidebar-condensed:not(.sidebar-collapsed) .sidebar .sidebar-top.big-img .user-image {
    margin: auto;
    width: 120px;
}
.sidebar-condensed:not(.sidebar-collapsed) .sidebar .sidebar-top .user-image img {
    border: 3px solid rgba(255, 255, 255, 0.2);
    display: block;
}
.sidebar-condensed .sidebar .sidebar-inner .sidebar-top h4 {
    font-size: 15px;
}
.sidebar-condensed:not(.sidebar-collapsed) .sidebar .sidebar-top h4 {
    color: #E2E2E2;
    padding-left: 5px;
    text-align: left;
    width: 105px;
}
.sidebar .sidebar-inner .sidebar-top.big-img h4 {
    color: #E2E2E2;
    margin: 10px auto 8px;
    text-align: center;
}
.sidebar .sidebar-inner .sidebar-top h4 {
    color: #E2E2E2;
    margin-bottom: 5px;
    overflow: hidden;
    padding-left: 3px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 137px;
}
