<div class='footer clearfix'>
<div class='wrapper' id='hide_chromeFooter'>
<em>powered by</em>
<a href="http://www.softcover.io" class="logo"><img alt="Logo_foot" src="https://www.softcover.io/assets/logo_foot-39da4a3be1566a91864f2712656b404e.png" />
</a></div>
</div>